/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

html{
    scroll-behavior: smooth;
}

body {
    margin-left: auto;
    margin-right: auto;
}



.main-container {
    display: flex;
    flex-direction: column;  
    margin: auto;
    box-sizing: border-box;
    object-fit: contain;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
}



header #logo img{
    height: 19px;
    padding: 30px 0 0 0; 
}
 

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 60px;
    margin-top: 4px;
    
}

.header-container nav ul{
    display: flex;
    gap: 68px;
    list-style: none;
    margin-top: 0;
    position: relative;
}

.header-container nav ul li a{
    display: inline-block; 
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: black;
    position: relative;
}

.accom-things a:hover{
    color: #0065FC;
}

.accom-things a::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #0065FC;
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.accom-things a:hover::after{
    opacity: 1;
}



.header1 .subheader{
    padding-bottom: 25px;
}

.header1 .subheader h2{
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    padding-bottom: 8px;
}

.header1 .subheader p{
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    
}

.subheader1{
    padding-bottom: 55px;
}



.location-search{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    width: 301px;
    
}
.location-search input{
    background: transparent;
    outline: none;
    width: 150px;
    border: 1px solid var(--Grey, #F2F2F2);
    font-size: 18px;
    height: 45px;
}

.location-search button{
    display: flex;
    height: 49px;
    width: 80px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);

}


.location-search .location-symbol{
    border-radius: 15px 0 0px 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: #F2F2F2;
    width: 50px;
    height: 49px;
}


#button-text{
    color: white;
    
}

.filter-buttons{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
    padding-bottom: 25px;
    
}

.filter-button{
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: white;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-button .fa-solid{
    padding-right: 10px;
}

.filter-button:hover{
    background: #DEEBFF;
}



.info-accomodation{
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    padding-bottom: 25px;
}



.info-button{
    width: 24px;
    height: 24px;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}



.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 66%;
    
}

.accomodation-title{
   margin-top: -20px;
   padding-bottom: 10px;
   margin-left: 5px;
}

.accomodation-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    
}

.accomodation-cards .card1 {
   width: 30%;
   height: 210px;
   border-radius: 20px;
   background: #FFF;
   box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
   box-sizing: border-box;
   justify-content: center;
}


.accomodation-cards .card1 img {
    width: 100%;
    height: 134px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 5px;
    object-fit: fill;
}

.accomodation-cards .accom-card-content {
    height: 70px;
    padding: 0px 15px;
    gap: 8px;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
}


.accomodation-cards .accom-card-title {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 4px;
    
}

.accomodation-cards .accom-card-subtitle {
    margin: 0;
    font-size: 14px;
    font-family: Raleway;
}

.accomodation-cards .accom-card-rating {
    margin-bottom: 8px;
    
}

.accom-card-content .accom-card-txt a{
    color: black;
    text-decoration: none;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0px;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Show more ***********/

.show-more{
   margin-top: 30px;
   margin-bottom: 0;
   margin-left: 5px; 
   font-size: 16px;
}

/****** Things to do ***********/

.things-to-do-title{
    margin-left: 30px;
    font-size: 14px;
}

.things-cards{
    display: flex;
    gap: 30px;
    width: 99%;
    justify-content: center;
    padding-bottom: 15px;
}
.card2{
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    width: 22%;
    height: 439px;
}

.card2 img{
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.things-content .things-card-txt{
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;
}

.things-card-txt a{
    color: black;
    text-decoration: none;
}

main{
    margin-bottom: 35px;
}
/****** footer ***********/

.footer-container{
    background-color:#F2F2F2;
    display: flex;
    padding-left: 20px;
    overflow: hidden;
    height: 160px;
}

.footer-container h4{
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
}

.footer-container ul{
    padding-left: 0;
    font-family: Raleway;
    font-size: 14px;
    list-style: none;
    width: 415px;
    height: 136px;
    

}

.footer-container li{
    padding-bottom: 10px;
}

.footer-container .about-column{
    width: 35%;
}

.footer-container .our-accomodation{
    width: 35%;
}




